body{
    background-color: rgb(173, 213, 216);
}

#oportunidades{
    text-align: center;
    text-decoration-style: wavy;
}

#noticias{
    text-align: center;
}

#parte1{
    background-color: rgb(42, 147, 165);
}

#final{
    text-align: center;
}
#curso{
    text-align: center;
}
#cursos{
    text-align: center;
}