header {
    margin-bottom: 20px;
}

/* main {
    height: 100vh;
} */

.side-bar-link:hover {
    font-weight: 600;
}

.card-vagas {
    width: 100%;
}

.nav-side:hover {
    background: #ced4da !important;
}