header {
    margin-bottom: 20px;
}

.card a {
    text-decoration: none !important;
    color: black !important;
}

main {
    margin-bottom: 50px;
}

.side-bar-link:hover {
    font-weight: 600;
}

.card-vagas {
    width: 100%;
}

.nav-side:hover {
    background: #ced4da !important;
}