header {
    margin-bottom: 20px;
}

.card a {
    text-decoration: none !important;
    color: black !important;
}

main {
    margin-bottom: 50px;
}

.side-bar-link:hover {
    font-weight: 600;
}

.card-vagas {
    width: 100%;
}

.nav-side:hover {
    background: #0057bb !important;
}
div.card-header{
    background-color: white;
}
.vagas_info{
    padding: 15px;
    margin: 10px;
}
div > i {
  color: #4835d4; 
} 
.explicacao[data-tooltip]{
    position: relative;
}
.explicacao[data-tooltip]::after{
    display: none;
    position: absolute;
    top: -35px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + -100px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #4835d4;
    color: White;
}
.explicacao[data-tooltip]:hover::after{
    display: block;
}
div#card_info{
    padding-top: 15px;
    margin-bottom: 15px;
}
.info_vagas{
    font-weight: 600;
}
a.titulo_vaga:hover{
    color: #4835d4 !important;
}
.descricao_vaga{
    color: grey;
}

